#include ".Xresources.1"

! XTerm settings
XTerm*background: black
XTerm*foreground: white
XTerm*font: 8x13bold
XTerm*geometry: 80x32
XTerm*termName: xterm-256color

! UXTerm settings
UXTerm*background: black
UXTerm*foreground: white
UXTerm*faceName: Hack
UXTerm*faceSize: 10
UXTerm*geometry: 80x24
UXTerm*termName: xterm-256color

! Fix behaviour where on some operating systems (e.g. OpenBSD) delete key works
! like backspace key (it deletes characters backwards instead of forwards).
XTerm*deleteIsDEL: false
UXTerm*deleteIsDEL: false
